<html>
    <head>
       <title>Ninja Information</title>
       <!-- linking a css style sheet -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    </head>
    <body>
      <h1>Ninja Page</h1>
      
      <h3>Ninja Information</h3>
      <p>Ninjas are very secretive by nature, Thus,,there is very little Information
          about ninjas to reveal,,but, we at ninja World News Headquaters will
          kkep on investigsting. You Bet your lucky chinese stars !!!
      </p>
      <a href="/">Home page</a>
      <a href="/dojo/news">Dojo News Information</a>
    </body>
</html>