<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Registration & Login   </title>
    {% load static %}                
    <link rel="stylesheet" type="text/css" href="{%static 'registration/css/styles.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
</head>
<body>
    <div id="wrapper">
        <div id="header" >
            <h2 class="inline" >Registration & Login</h2>
            <i id="homeicon" >
                <a href="reset"><span class="glyphicon glyphicon-home " style="font-size:24px;"></span></i></a>
        </div>

        <div id="registration" >
        <!-- <h1>Registration</h1> -->
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == "register error"%}
        <p class="red">{{message}}</p>
        {% endif %}
        {% endfor %}
        {% endif %}
        <form class="fit" action="/register" method="POST">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">[ Registration ]</legend>
                {% csrf_token %} 
                <label for="first_name">First Name:</label>
                <input type="text" name='first_name' id='first_name' value="Edward">
                <label for="last_name">Last Name:</label>
                <input type="text" name='last_name' id='last_name' value="Solon">
                <label for="email">E-mail:</label>
                <input type="text" name='email' id='email' value="smojo11@gmail.com">
                <label for="password">Password:</label>
                <input type="text" name='password' id='password' value="myPassword">
                <label for="confirm">Confirm Password:</label>
                <input type="text" name='confirm' id='confirm' value="">
                <input type="submit" value="Register">
            </fieldset>
        </form>        
        </div> <!-- end of Registration div -->

        <div id="login" > <!-- Login div -->
        <!-- <h1>Login</h1> -->
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'login error' %}
        <p class="red">{{message}}</p>
        {% endif %}
        {% endfor %}
        {% endif %}
        <form class="fit" action="/login" method="POST">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">[ Login ]</legend>
                {% csrf_token %} 
                <label for="email">E-mail:</label>
                <input type="text" name='email' id='email' value="smojo@gmail.com">
                <label for="password" title='must be 8 character at least'>Password:</label>
                <input type="text" name="password" id="password">
                <input type="submit" value="Login">
            </fieldset>
        </form>
        </div> <!-- Login div -->   

    </div> <!--wrapper Div End -->
</body>
</html>