<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Verification</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='email_v.css')}}" />

</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="content">
                <h3>Email Verification</h3>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="red">{{message}}</p>
                    {% endfor %}
                {% endif %}
                {% endwith %}               
                
                              
                <form action="/email_verify" method="POST">
                <label for="email">E-mail:</label>
                <input type="text" name='email' id='email' value="smojo@gmail.com">
                <input type="submit" value="Submit">
                </form>

            </div>
        </div>
    </div>
    
</body>
</html>