<html>
    <head>
       <title>Dojo Survey </title>
       <!-- linking a css style sheet -->
      
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    
    </head>
    <body>
      <div id="wrapper">  
      <h1>Dojo Survey</h1>
      <h2>We Wanna Know</h2>
      <h3>Create a Dojo User</h3>
      <!-- read on to learn about form actions, we'll talk about the method in a later section -->
      <form action='/process' method='post'>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

          <label for="name">Name</label>
          <input type='text' id='name' name="name">
          <label for="location">Location</label>
          <select name="location">
              <option value="San Jose">San Jose</option>
              <option value="Dallas">Dallas</option>
              <option value="Washington DC">Washington</option>
              <option value="Seattle">Seattle</option>
              <option value="Kansas City">Kansas City</option>
            </select>
          <label for="favlang">Favorite Language</label>  
          <select name="favLang">
              <option value="Python">Python</option>
              <option value="JavaScript">JavaScript</option>
              <option value="HTML">HTML</option>
              <option value="C##">C##</option>  
          </select>
          <label for="comments">Comments</label>
          <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
          Email: <input type='text' name='email'>
          <input type='submit' value='create user'>
        </form>
    </div>
    </body>
</html>